[user]
	email = rafael.arrifano@gmail.com
	name = Rafael Arrifano
[init]
	defaultBranch = main
[core]
	editor = nvim
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[merge]
	conflictStyle = zdiff3
[diff]
	algorithm = histogram
[rerere]
	enabled = true
